# values.yaml

# Настройки вашего Django-приложения
djangoApp:
  replicaCount: 2
  image:
    repository: gghotdog/trback
    tag:                                                                                                                                           build-166
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8000
#    nodePort: 30088

ingress:
  enabled: true # \u003c-- ВКЛЮЧАЕМ Ingress
  className: "nginx"
  hostname: biletav.ru
# Настройки зависимостей
postgres:
  enabled: true
  image: postgres:15
  storageSize: 5Gi
  service:
    port: 5432


rabbitmq:
  enabled: true # \u003c-- ВКЛЮЧЕНО
  image: rabbitmq:management-alpine
  storageSize: 2Gi
  service:
    amqpPort: 5672
    managementPort: 15672


grafana:
  ingress:
    enabled: true # Включаем создание Ingress-правила для Grafana
    path: /grafana
    # Имя сервиса Grafana, которое мы уже знаем
    serviceName: kube-prometheus-stack-grafana
    # Пространство имен, где работает Grafana
    serviceNamespace: monitoring
    # Порт сервиса Grafana
    servicePort: 3000


redis:
  enabled: true # \u003c-- ВКЛЮЧЕНО
  image: redis:6.2.6-alpine
  service:
    port: 6379

elasticsearch:
  enabled: true # \u003c-- ВКЛЮЧЕНО
  image: elasticsearch:8.11.0
  storageSize: 5Gi
  service:
    httpPort: 9200
    transportPort: 9300

# Настройки автоматических миграций Django
migrations:
  enabled: true # Включить автоматические миграции
  backoffLimit: 5 # Количество попыток при ошибке
  collectstatic: false # Собирать статические файлы (установите true если нужно)

# Настройки резервного копирования PostgreSQL
backup:
  enabled: true # Включить автоматические бэкапы
  schedule: "0 */4 * * *" # Расписание: каждые 4 часа
  s3:
    endpoint: "https://s3.gis-1.storage.selcloud.ru"
    bucket: "beckaups"
    # accessKey и secretKey создаются вручную в секрете backup-s3-credentials
  encryption:
    # key создается вручную в секрете backup-encryption-key
  retention:
    count: 30 # Количество последних бэкапов для хранения

# Имена ресурсов, которые мы создаем.
# Мы будем ссылаться на эти имена в шаблонах.
configMapName: "app-config"
secretsName: "app-secrets" # \u003c-- НАШ ЕДИНЫЙ ГЛАВНЫЙ СЕКРЕТ
rabbitmqCookieSecretName: "rabbitmq-cookie"
